@import "tailwindcss";


.air-quality{
    /* position: absolute; */
    /* top: 50%; */
    /* right: 10%; */
    display: grid;
    padding: 5px;
    /* gap: 2px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}